//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$color-el-primary: #409EFF;

$primary: #409EFF;
$fontColor: #333;
$borderColor: #DCDFE6;
$tableBorderColor: #EBEEF5;
$greyBGColor: #efefef;
$forbidden: #F56C6C;
$fatal-error: red;
$pass: #06aa0a;
$warning: #d6d612;

$fontColor: #000;
$mediumFontColor: #121212;

$bg: #f9fbfc;
$dark_gray: #889aa4;
$light_gray: #eee;

$iconColor: #212529;
$testCaseBG: #f2f2f2;
$testCaseFileItem: #f9f9f9;
$selectColor: #5ca457;
$typeColor: #78C06E;
$warningTip: #f9a313;
